<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blooming"
        tools:targetApi="31">
        <activity
            android:name=".card_shop_client"
            android:exported="false" />
        <activity
            android:name=".Employed.shop_cart.CardShopCart"
            android:exported="false" />
        <activity
            android:name=".Employed.cash_register.CardCashRegister"
            android:exported="false" />
        <activity
            android:name=".Employed.inventory.CardInventory"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GoogleMap" />

        <activity
            android:name=".Admin.inventory.CardInventory"
            android:exported="false"
            android:theme="@style/Theme.Blooming" />
        <activity
            android:name=".Admin.users.CardUsers"
            android:exported="false"
            android:label="@string/title_activity_card_users" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Dashboard_admin"
            android:exported="false"
            android:label="@string/title_activity_dashboard_admin"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Dashboard_client"
            android:exported="false"
            android:label="@string/title_activity_dashboard_admin"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Dashboard_employed"
            android:exported="false"
            android:label="@string/title_activity_dashboard_employed" />
        <activity
            android:name=".Sing_in"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Password_recovery3"
            android:exported="false" />
        <activity
            android:name=".Password_recovery2"
            android:exported="false" />
        <activity
            android:name=".Password_recovery1"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>